doctype html
html
    head
        title= "ТИС-словарь"
        link(rel='stylesheet', type='text/css', href='/codebase/dhtmlx.css')
        script(src='/codebase/dhtmlx.js')
        link(rel="stylesheet",type="text/css",href='/css/jquery.dataTables.css')
        script(type="text/javascript", language="javascript", src='/js/jquery.js')
        script(type="text/javascript", language="javascript", src='/js/jquery.dataTables.js')

        //Validator
        script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")
        script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_ru.js")
        
        //Popup Window
        link(rel="stylesheet", href="/css/magnific-popup.css")
        script(src='/js/jquery.magnific-popup.js')
        script(type='text/javascript').
            var local_data =!{JSON.stringify(jsonObjects)};
        script(src="/js/init.js", class="init", language="javascript",type="text/javascript")
    body
        block title
        table(cellpadding="3",cellspacing="0", border="0", style="width: 30%; margin: 0 auto 2em auto;")
            tbody
                tr
                    th Домен
                    th Обозначение
                    th Наименование концепта
                tr( id="filter_col1", data-column="1")
                    td(align="center",id="filter_col1", data-column="1")
                        input( type="text", class="column_filter", id="col1_filter",placeholder='Домен')
                    td(align="center", id="filter_col2", data-column="2")
                        input( type="text", class="column_filter", id="col2_filter",placeholder='Обозначение')
                    td(align="center", id="filter_col3", data-column="3")
                        input( type="text", class="column_filter", id="col3_filter",placeholder='Наименование концепта')
        block searchEditMenu
        table(border=1, cellpadding=10, id="my_table", class="display")
            thead
                th Системный номер
                th Домен
                th Обозначение
                th Наименование концепта
                th Тип поля
                th Длина поля
                th Кол-во знаков после запятой
                th Мин. значение
                th Макс. значение
                th Размерность
                th Номер классификатора
            tbody
                each obj in jsonObjects
                    tr(id="#{obj.id}")
                        td
                            | #{obj.at_syst}
                        td
                            | #{obj.dom}
                        td
                            | #{obj.Den}
                        td
                            | #{obj.Naim}
                        td
                            | #{obj.At_Type}
                        td
                            | #{obj.At_Len}
                        td
                            | #{obj.At_Dec}
                        td
                            | #{obj.At_Min}
                        td
                            | #{obj.At_Max}
                        td
                            | #{obj.At_Razm}
                        td
                            | #{obj.At_Kl}
       block addAndEdit