//
   Created by e.eremeev on 17/06/2014.

doctype html
html
    head
        title= "ТИС-словарь"
        link(rel="stylesheet",type="text/css",href='/css/jquery.dataTables.css')
        script(type="text/javascript", language="javascript", src='/js/jquery.js')
        script(type="text/javascript", language="javascript", src='/js/jquery.dataTables.js')
        script(type="text/javascript", language="javascript", class="init").
            $(document).ready(function() {
                $('#my_table').DataTable();
            } );
        block scriptBlock

    body
        block editBlock

        h1= "ТИС-словарь"
        table(border=1, cellpadding=10, id="my_table", class="display")
            thead
                th Системный номер
                    th Домен
                    th Обозначение
                    th Наименование концепта
                    th Тип поля
                    th Длина поля
                    th Кол-во знаков после запятой
                    th Мин. значение
                    th Макс. значение
                    th Размерность
                    th Номер классификатора
            tbody
                each obj in jsonObjects
                    tr
                        td
                            | #{obj.at_syst}
                        td
                            | #{obj.dom}
                        td
                            | #{obj.Den}
                        td
                            | #{obj.Naim}
                        td
                            | #{obj.At_Type}
                        td
                            | #{obj.At_Len}
                        td
                            | #{obj.At_Dec}
                        td
                            | #{obj.At_Min}
                        td
                            | #{obj.At_Max}
                        td
                            | #{obj.At_Razm}
                        td
                            | #{obj.At_Kl}